.bar {
  font-size: 20px;
  color: rgb(200, 200, 200);
}
.navbar-default
{
    background-color: rgb(0, 50, 100);
    border-color: rgb(255, 255, 255);
    color: rgb(254, 255, 255);
}
/* Sets the color once an element of the navbar has been focused or hovered above‚ */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: rgb(255, 255, 255);  /*Sets the text hover color on navbar*/
}

/* Sets the color once an element of the navbar has been selected
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white;
background-color: #030033;
}*/
.jumbotron {
    margin-bottom: 0px;
    background-position: 0% 25%;/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background: rgba(100, 100, 100, 0.3);
}
.lead {
    text-shadow: none;
}
.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: rgb(0, 0, 255);
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
    text-align: center;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;


}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
body {
  background: url("/Users/duyguakdemir/desktop/tum/seba_project/plan-your-holiday-frontend/src/img/Prag.jpg") no-repeat center center fixed;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  height: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.glyphicon {
    font-size: 60px;
    position: inherit;
    vertical-align: middle;
    text-align: center;
    margin-top: 120%;
    display: inline-block;

}
