<div class="full-background-image">
  <div class="main-login main-center">

      <div class="form-group" >
        <h2 class="cols-sm-2 control-label">Register</h2>
      </div>

      <form name="register" method="post" action="#" novalidate>
  		<div class="form-group" ng-class2="{'has-success has-feedback': register.name.$valid}" ng-class="{ 'has-error': register.name.$touched && register.name.$invalid, 'has-success has-feedback': register.name.$valid } ">
  			<label for="name" >First and Last Name</label>
  			<div class="cols-sm-10">
  				<div class="input-group">
  					<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
  					<input type="text" class="form-control" name="name" id="name" aria-describedby="name" ng-model="$ctrl.signup.username"  placeholder="Enter your Name" required/>
          </div>
          <div class="help-block" ng-messages="register.name.$error" ng-if="register.name.$touched">
          <p ng-message="required"><b>Your name is required.</b></p>
        </div>
  			</div>
  		</div>

  		<div class="form-group" ng-class="{ 'has-error': register.email.$touched && register.email.$invalid , 'has-success has-feedback': register.email.$valid }">
  			<label for="email" >Your Email</label>
  			<div class="cols-sm-10">
  				<div class="input-group">
  					<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
  					<input type="email" class="form-control" name="email" id="email" ng-model="$ctrl.signup.email" placeholder="Enter your Email" required/>
  				</div>
          <div class="help-block" ng-messages="register.email.$error" ng-if="register.email.$touched">
          <p ng-message="required"><b>Your Email is required.</b></p>
          <p ng-message="email"><b>Please enter a valid Email address.</b></p>
        </div>
  			</div>
  		</div>

  		<div class="form-group" ng-class="{ 'has-error': register.username.$touched && register.username.$invalid , 'has-success has-feedback': register.username.$valid }">
  			<label for="username">Login ID</label>
  			<div class="cols-sm-10">
  				<div class="input-group">
  					<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
  					<input type="text" class="form-control" name="username" id="username" ng-model="$ctrl.signup.loginid" placeholder="Enter your Username" required/>
  				</div>
          <div class="help-block" ng-messages="register.username.$error" ng-if="register.username.$touched">
          <p ng-message="required"><b>Your Username is required.</b></p>
        </div>
  			</div>
  		</div>

  		<div class="form-group" ng-class="{ 'has-error': register.password.$touched && register.password.$invalid , 'has-success has-feedback': register.password.$valid  }">
  			<label for="password">Password</label>
  			<div class="cols-sm-10">
  				<div class="input-group">
  					<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
  					<input type="password" class="form-control" name="password" id="password" ng-model="$ctrl.signup.password" placeholder="Enter your Password" ng-minlength="8" ng-maxlength="12"required/>
  				</div>
          <div class="help-block" ng-messages="register.password.$error" ng-if="register.password.$touched">
          <p ng-message="required"><b>Your Password is required.</b></p>
          <p ng-show="register.password.$error.minlength"><b>Password is too short.</b></p>
          <p ng-show="register.password.$error.maxlength"><b>Password is too long.</b></p>
        </div>
  			</div>
  		</div>

  		<div class="form-group" ng-class="{ 'has-error': register.confirm.$touched && register.confirm.$invalid , 'has-success has-feedback': register.confirm.$valid  }">
  			<label for="confirm" >Confirm Password</label>
  			<div class="cols-sm-10">
  				<div class="input-group">
  					<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
  					<input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" ng-pattern="\b{{$ctrl.signup.password}}\b" ng-model="confirm" required/>
  				</div>
          <div class="help-block" ng-messages="register.confirm.$error" ng-if="register.confirm.$touched">
          <p ng-message="required"><b>Your Password is required.</b></p>
          <p ng-message="pattern"><b>The password do not match</b></p>
        </div>
  			</div>
  		</div>

    <div class="form-group" ng-class="{ 'has-error': register.birth.$touched && register.birth.$invalid, 'has-success has-feedback': register.birth.$valid  }">
  			<label for="birth">Date of Birth</label>
  			<div class="cols-sm-10">
  				<div class="input-group">
  					<span class="input-group-addon"><i class="fa fa-star fa" aria-hidden="true"></i></span>
  					<input type="date" class="form-control" name="birth" id="birth" ng-model="$ctrl.signup.birthdate" placeholder="Date of Birth in DD.MM.YYYY" required/>
  				</div>
          <div class="help-block" ng-messages="register.birth.$error" ng-if="register.birth.$touched">
          <p ng-message="required"><b>Your Date of Birth is required.</b></p>
        </div>
  			</div>
  		</div>

    <div class="form-group" ng-class="{ 'has-error': register.density.$touched && register.density.$invalid , 'has-success has-feedback': register.density.$valid  }">
  			<label for="density">Density</label>
  			<div class="cols-sm-10">
  				<div class="input-group">
  					<span class="input-group-addon"><i class="fa fa-calendar-check-o fa" aria-hidden="true"></i></span>
          <input type="number" class="form-control" name="density" id="density" ng-model="$ctrl.signup.density"  placeholder="Amount of daily activities" required/>
        </div>
        <div class="help-block" ng-messages="register.density.$error" ng-if="register.density.$touched">
        <p ng-message="required"><b>Your Density is required.</b></p>
      </div>
  			</div>
  		</div>

  		<div class="form-group ">
  			<button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-disabled="register.$invalid" ng-click="$ctrl.signup()">Submit</button>
  		</div>
  		<div class="login-register">
  			<p> <small> Already got an account? </small></p>
        <a ng-click="$ctrl.login()">Login</a>
      </div>
  	</form>
  </div>

</div>
