<header class="jumbotron">
   <div class="inner cover">
      <h1 class="cover-heading">Welcome</h1>
      <p class="lead">Where is your next destination of travelling?</p>
    </div>
 </header>

 <div class="panel panel-default">
   <div class="panel-body">
    <h2>Plan your next Trip</h2>
    <p>Where do you want to go next? Select a City and enjoy the best travel experience tailored to your preferences.</p>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-plane fa" aria-hidden="true"></i></span>
      <input type="text" class="form-control" name="destination" id="destination" placeholder="Enter your Destination"/>
    </div>
    <div class="form-group ">
			<button type="button" class="btn btn-primary btn-lg btn-block login-button">Generate the optimal schedule!</button>
		</div>
   </div>
 </div>
