<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <h3 class="panel-title">Find your schedule to <b>{{$ctrl.travel.destination}}</b> here, {{$ctrl.getCurrentUser()}} ({{$ctrl.travel.arrival | date: 'dd-MM-yyyy'}} to {{$ctrl.travel.departure | date: 'dd-MM-yyyy'}})</h3>
                    </div>
                </div>

                <div class="panel-body">
                   <table id="mytable" class="table table-striped table-bordered table-list">
                        <thead>
                        <tr>
                            <th class="col-text">Attraction Name</th>
                            <th class="col-text">Starting</th>
                            <th class="col-text">Ending</th>
                            <th class="col-text">Website</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="noright" ng-repeat="schedule in $ctrl.travel.schedule">
                            <td> {{schedule.attractionname}} </td>
                            <td> {{schedule.startTime}} </td>
                            <td> {{schedule.endTime}} </td>
                            <td> <a href={{schedule.url}}>Book</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer">
                  Find all your existing Travels in your User Profile.
                    <div class="row">
                        <div class="col col-xs-3">
                                <button type="button" ng-click="$ctrl.rate()" class="btn btn-primary">
                                    Rate
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
