<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <div class="full-background-image1">

    <header class="jumbotron">
      <div class="inner cover">
        <h1 class="cover-heading">What would you like to visit!</h1>
        <p>Select your Category Preferences for the upcoming trips</p>
      </div>
    </header>

    <div class= "panel panel-default">
    <div class="panel-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="container">
            <h4 class="text-center"><strong>Choose your category density with the slider!</strong></h4>
            <div class="row">
              <div class="col-md-3">
                <div class="box3">
                  <div class="info">
                    <h4 class="text-center"><strong>Monuments</strong></h4>
                    <br> <br> <br> <br> <br> <br> <br>
                    <input id="Monuments" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0"/>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box4">
                  <div class="info">
                    <h4 class="text-center"><strong>Museums</strong></h4>
                    <br> <br> <br> <br> <br> <br> <br>
                    <input id="Museums" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0"/>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box5">
                  <div class="info">
                    <h4 class="text-center"><strong>Parks</strong></h4>
                    <br> <br> <br> <br> <br> <br> <br>
                    <input id="Parks" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value=""/>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box6">
                  <div class="info">
                    <h4 class="text-center"><strong>Churches</strong></h4>
                    <br> <br> <br> <br> <br> <br> <br>
                    <input id="Churches" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

         <div class="container">
           <div class="row">
             <div class="col-md-6">
         <div class="box7" widht="550" height= "550" position="right" >
           <h4 class="text-center">This shows your density of the Categories!</h4>
         <canvas id="myPieChart" width="500" height="500" ></canvas>

       </div>
       </div>

       <div class="col-6">
         <div class="container">
           <div class="row">
             <div class = "container">
               <div class = "column">
                 <div ng-repeat="attraction in $ctrl.attractions">
                   <div class="col-md-3">
                     <div class="thumbbox">
                       <p class="text-center"> {{attraction.title}} </p>
                       <input type="checkbox" ng-click='$ctrl.click(attraction._id)' value="">
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         <div>
       </div>

     </div>
     <br> <br>
     <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.calculate()"> <h2> Receive the best Schedule</h2> </button>


  </div>
  </div>
  </div>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/js/bootstrap.min.js"></script>
  <script src="node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
  <script>
    $('#Monuments').slider({
  	   formatter: function(value) {
  		     return 'Current value: ' + value;
  	      }
        });
    $('#Museums').slider({
      formatter: function(value) {
        return 'Current value: ' + value;
      }
    });
    $('#Parks').slider({
      formatter: function(value) {
        return 'Current value: ' + value;
      }
    });
    $('#Churches').slider({
      formatter: function(value) {
        return 'Current value: ' + value;
      }
    });
  </script>
  <script src="node_modules/chart.js/dist/Chart.js"></script>
  <script>

    var ctx = document.getElementById("myPieChart");
    var myChart = new Chart(ctx, {
      type: 'pie',

      data: {
        labels: ["Monuments", "Museums", "Parks", "Churches"],
        datasets: [{
          data: [10,10,10,10],
          backgroundColor: [
            'rgb(255, 0, 0)',
            'rgb(9, 99, 249)',
            'rgb(253, 254, 42)',
            'rgb(22, 185, 10)',
          ]
        }]
      },
      options: {
      legend: {
      display: true,
      position: 'bottom',
    }}
    });

    $('#Monuments').on('change', function(){
      updatePiechart();
    });

    $('#Museums').on('change', function(){
      updatePiechart();
    });

    $('#Parks').on('change', function(){
      updatePiechart();
    });

    $('#Churches').on('change', function(){
      updatePiechart();
    });


    function updatePiechart() {
      new_data = [   $('#Monuments').val(),   $('#Museums').val(),   $('#Parks').val(),   $('#Churches').val()];
      myChart.config.data.datasets[0].data = new_data;
      myChart.update();
    }
  </script>
</html>
