<header class="jumbotron">
   <div class="inner cover">
      <h1 class="cover-heading">Partners</h1>
      <p class="lead">Plan Your Holiday is developed by students of the Course <i>Software Engineering für betriebliche Anwendungen – Masterkurs: Web Application Engineering (IN2087)</i> grouped to team 59.
    </div>
 </header>

<div class="container" center>
 <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-5x fa-user"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Akdemir, Duygu</h4>
                    <p>Developer</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-5x fa-user" aria-hidden="true" ></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Bayona, Sael</h4>
                    <p>Developer</p>
                </div>
            </div>
        </div>
	</div>
</div>

<div class="container">
   <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
           <div class="box">
               <div class="box-icon">
                   <span class=" fa fa-5x fa-user" ></span>
               </div>
               <div class="info">
                   <h4 class="text-center">Frattini, Julian</h4>
                   <p>Developer</p>
                   <!-- <a href="" class="btn">Link</a> -->
               </div>
           </div>
       </div>

       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
           <div class="box">
               <div class="box-icon">
                   <span class="fa fa-5x fa-user" ></span>
               </div>
               <div class="info">
                   <h4 class="text-center">Neset, Ragnhild</h4>
                   <p>Developer</p>
               </div>
           </div>
       </div>
 </div>
</div>
</div>
