<div class="full-background-image">
  <header class="jumbotron">
     <div class="inner cover">
        <h1 class="cover-heading">Welcome</h1>
        <p class="lead">Where will you go next?</p>
      </div>
  </header>
    <div class="white-background">
      <div class="rating-card-container">
        <div ng-repeat="activity in $ctrl.travel.schedule">
          <div class="card">
             <div class="container">
               <h2 class="card-title">{{ activity.attractionName }}</h2>
               <br/>
               <h5><b>Quality</b></h5>
               <p>How well did you like the activity?</p>
               <span uib-rating ng-model="$ctrl.rating[activity._id].quality" max="5" read-only="isReadonly" on-leave="overStar = null" aria-labelledby="default-rating"></span>
               <br/>
               <br/>
               <h5><b>Popularity</b></h5>
                <p>How popular is this activity among tourists?</p>
               <span uib-rating ng-model="$ctrl.rating[activity._id].popularity" max="5" read-only="isReadonly" on-leave="overStar = null" aria-labelledby="default-rating"></span>
               <br/>
             </div>
          </div>
      </div>
    </div>
    </div>

</div>

<script type="text/javascript" src="node_modules/angular-ui-bootstrap/src/rating/rating.js"></script>
